.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--black-1);
    z-index: 10;
    padding: 1.5rem 0;
    transition: var(--transition-duration);
    min-height: 5.063rem;
}

.header__inner {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    max-width: 4.375rem;
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: auto;
        object-position: left;
        object-fit: contain;
        max-height: 1.688rem;
    }
}

.header__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.header__nav {
    .nav__list {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .nav__item {
        padding: 0.75rem 1rem;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        color: var(--blue-800);
        cursor: pointer;
        transition: var(--transition-duration);
        &:hover {
            color: var(--black-13);
        }
    }
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__burger {
    display: none;
    width: 2rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    .burger__line {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background-color: var(--blue-900);
        &::before, 
        &::after {
            content: '';
            position: absolute;
            top: -0.5rem;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: var(--blue-900);
            transition: var(--transition-duration);
            transform: translateX(-50%);
        }
        &::after {
            top: 0.5rem;
        }
    }
    &.active {
        .burger__line {
            background-color: var(--neutrals-0);
        }
        .burger__line::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .burger__line::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

//1072px
@include respond-to(mobile) {
    .header__burger {
      display: flex;
    }

    .header__nav {
        position: absolute;
        right: -100vw;
        top: 3.5rem;
        // width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem 1.5rem;
        background-color: var(--black-1);
        transition: var(--transition-duration);
        overflow-y: auto;
        overflow-x: hidden;
        .nav__list {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-grow: 0;
            gap: 0;
        }
        .nav__item {
            padding: 0.75rem 0;
        }
    }
    .open-menu {
        .header__nav {
            right: 0;

        }
    }
    
}