<section class="section__cta">
    <div class="container">
        <div class="cta__content">
            <h2>One tool to replace them all</h2>
            <p>Forget about jumping from one tool to another, just to get the job done.</p>
            <p>With our CRM, you get all the tools that you need in a single, easy to use application.</p>
        </div>
        <div class="cta__actions">
            <a href="#" class="btn">CREATE ACCOUNT</a>
            <a href="#" class="btn outline">SEE PRICING</a>
        </div>
    </div>
</section>