<section class="section__demo">
    <div class="bg-image">
        <img src="img/bg-radial-2.png" alt="bg-image"/>
    </div>
    <div class="container">
        <div class="demo__headline">
            <h2>Productivity Redefined</h2>
            <p>The complete productivity tool for your business</p>
        </div>
        <div class="demo__slider js-swiper-tabs-container">
            <div class="slider__tabs">
                <ul class="tabs__list">
                    <li class="tabs__item js-swiper-tabs-item tabs--active">Tasks</li>
                    <li class="tabs__item js-swiper-tabs-item">Invoices</li>
                    <li class="tabs__item js-swiper-tabs-item">Support Tickets</li>
                    <li class="tabs__item js-swiper-tabs-item">Clients</li>
                    <li class="tabs__item js-swiper-tabs-item">Leads</li>
                    <li class="tabs__item js-swiper-tabs-item">Knowledges</li>
                </ul>
            </div>
            <div class="slider__slides">
                <div class="swiper js-swiper-tabs-content">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-tasks.png" alt="app screen tasks">
                            </div>
                        </div>
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-invoices.png" alt="app screen tasks">
                            </div>
                        </div>
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-support.png" alt="app screen tasks">
                            </div>
                        </div>
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-tasks.png" alt="app screen tasks">
                            </div>
                        </div>
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-invoices.png" alt="app screen tasks">
                            </div>
                        </div>
                        <div class="swiper-slide slides__slide">
                            <div class="slide__image">
                                <img src="img/screen-support.png" alt="app screen tasks">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="demo__actions">
            <a href="#" class="btn">CREATE ACCOUNT</a>
            <a href="#" class="btn outline">SEE PRICING</a>
        </div>
    </div>
</section>