<section class="section__features">
    <div class="bg-image">
        <img src="img/bg-radial-2.png" alt="bg-image"/>
    </div>
    <div class="container features__container">
        <div class="features__headline">
            <h5 class="headline__custom">Our Features</h5>
            <h3 class="headline__title">All the important tools that you need</h3>
        </div>
        <div class="features__list list--big">
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-tasks.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Tasks</h5>
                    <p>Work through your task efficiently and intuitively</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-invoicing.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Invoicing</h5>
                    <p>Invoice your clients and accept payments easily</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-estimates.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Estimates</h5>
                    <p>Quickly send your clients estimates and proposals</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-roles.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>User Roles</h5>
                    <p>Control the resources your team members can access</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-help.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Help Desk</h5>
                    <p>Use the helpdesk to provide support for your clients</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-time.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Time Tracking</h5>
                    <p>Advanced time tracking so you never miss a minute of time spent</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-work.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Work From Anywhere</h5>
                    <p>Your team can now easily connect and work from anywhere</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-knowledge.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Knowledge base</h5>
                    <p>Create engaging articles easily share information with all your stakeholders</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-subscription.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Subscriptions</h5>
                    <p>Accept recurring payments via Stripe, using the subscription feature</p>
                </div>
            </div>
        </div>
    </div>
</section>