<section class="section__features">
    <div class="bg-image">
        <img src="img/bg-radial.png" alt="bg-image"/>
    </div>
    <div class="container features__container">
        <div class="features__headline">
            <h5 class="headline__custom">Our Features</h5>
            <h3 class="headline__title">All the important tools that you need</h3>
        </div>
        <div class="features__list list--small">
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-clients.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Clients</h5>
                    <p>Manage all aspects of your clients in one place.</p>
                </div>
            </div>
            <div class="features__item">
               <div class="features__img">
                    <img src="img/features-m.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Projects</h5>
                    <p>Deliver your projects on time and on budget.</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-h.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Prospects</h5>
                    <p>Capture all your leads and opportunities easily.</p>
                </div>
            </div>
            <div class="features__item">
                <div class="features__img">
                    <img src="img/features-clients-2.svg" alt="features image"/>
                </div>
                <div class="features__description">
                    <h5>Team Work</h5>
                    <p>Collaboration between your team members easily.</p>
                </div>
            </div>
        </div>
    </div>
</section>