<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__nav">
        <div class="logo__footer">
          <a href="#" class="custom__logo-link" rel="home" aria-current="page">
            <img src="img/logo-helnet-big.svg" class="custom-logo" alt="Logo Max AI" decoding="async">
          </a>
        </div>
      </div>
      <div class="footer__nav">
        <h6 class="nav__title">Product</h6>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Getting Started</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">FAQS</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Help Articles</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Report an issue</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Contact Help Desk</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <h6 class="nav__title">Services</h6>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Booking appointments</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Online consultations</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Prescriptions</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Medicine Refills</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Medical Notes</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav">
        <h6 class="nav__title">Legal</h6>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Terms & Conditions</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Privacy Policy</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Cookie Notice</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Cookie Preferences</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#" target="_self">Trust Center</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__policy">
        <p>VitaKoval 2025© All Rights Reserved.</p>
      </div>
    </div>
    
  </div>
</footer>
