<header class="header">
     <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <a href="#" rel="home">
            <img src="img/logo-min.svg" alt="Logo Max AI"/>
          </a>
        </div>
        <div class="header__actions">
          <nav class="header__nav">
            <ul class="nav__list">
              <li class="nav__item">
                Max Enterprise
              </li>
              <li class="nav__item">
                Pricing
              </li>
            </ul>
          </nav>
          <div class="header__buttons">
            <button class="btn outline-dark">Start</button>
            <button class="btn dark">Get started</button>
          </div>
        </div>
      </div>
     </div>
</header>
