<div class="component__slider">
    <div class="container">
            <div class="slider__container">
                <div class="swiper js-company-slider">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/Airbnb-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/FedEx-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/Google-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/Hubspot-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/Microsoft-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="img/logo-company/Walmart-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Airbnb-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/FedEx-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Google-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Hubspot-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Microsoft-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Walmart-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Airbnb-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/FedEx-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Google-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Hubspot-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Microsoft-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Walmart-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Airbnb-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/FedEx-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Google-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Hubspot-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Microsoft-Logo.png" alt="company">
                        </div>
                        <div class="slider__slide swiper-slide">
                            <img src="../../img/logo-company/Walmart-Logo.png" alt="company">
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>